<!DOCTYPE html>
<html lang="en">
<head>
    <title>AirBnB clone</title>
    <LINK rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}">

        <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}">
        <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}">
        <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-footer.css') }}">
        <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}">
        <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/8-places.css') }}">    
        </head>
<body>
<header>
    <div id="header_logo"></div>
</header>
<div class="container">
    <section class="filters">
        <button>Search</button>
        <div class="locations">
            <h3>States</h3>
            <h4>&nbsp;</h4>
            <ul class="popover">
                {% for state in states|sort(attribute='name') %}
                <li>
                    <h2>{{ state.name }}:</h2>
                    <ul>
                        {% for city in state.cities|sort(attribute='name') %}
                        <li>{{ city.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="amenities">
            <h3>Amenities</h3>
            <h4>&nbsp;</h4>
            <ul class="popover">
                {% for amenity in amenities|sort(attribute='name') %}
                <li>{{ amenity.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <SECTION class="places">
                <H1>Places</H1>
                {% for place in places %}
                    <ARTICLE>
                        <DIV class="headline">
                            <H2>{{ place.name }}</H2>
                            <DIV class="price_by_night">${{ place.price }}</DIV>
                        </DIV>
                        <DIV class="information">
                            <DIV class="max_guest">
                                <DIV class="guest_icon"></DIV>
                                <P>{{ place.max_guest }} Guests</P>
                            </DIV>
                            <DIV class="number_rooms">
                                <DIV class="bed_icon"></DIV>
                                <P>{{ place.number_rooms }} Bedroom</P>
                            </DIV>
                            <DIV class="number_bathrooms">
                                <DIV class="bath_icon"></DIV>
                                <P>{{ place.number_bathrooms }} Bathroom</P>
                            </DIV>
                        </DIV>
                        <DIV class="user"><B>Owner</B>: {{ place.user.name }}</DIV>
                        <DIV class="description">{{ place.description | safe }}</DIV>
                    </ARTICLE>
                {% endfor %}
                </SECTION>
</div>
<footer>
    <p>Best School</p>
</footer>
</body>
</html>
